@model ERPDataStaging.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artikelcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artikelcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kleurcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kleurcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiePrijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiePrijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Levertijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Levertijd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kleur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kleur)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
